@layer theme, base, components, utilities;

@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: #4b5563;
  --color-black: #111827;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);

  --animate-scrolling: scrolling 1s ease-in-out infinite;
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
